<section class="ui segment">
    <div class="ui four column grid">
        <div class="column">
            <div class="ui segment">
                <a class="header">Weather</a>
                <p>${newestReading.code}</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a class="header">Temp</a>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a class="header">Wind</a>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a class="header">Pressure</a>
            </div>
        </div>
    </div>
</section>
