body {
    font-family: sans-serif;
    background-color: #DADADA;
    width: 100%;
}

.masthead{
    height: 40em;
    margin-top: 0px;;
}

.masthead-background{
    background-image: url("/public/images/clouds.png"); !important;
    background-size: cover; !important;
    background-repeat: no-repeat;
}

.masthead h1.ui.header{
    margin-top:1em;
    margin-bottom: 0em;
    font-size: 6em;
    font-weight: bold;
}

.ui.vertical.segment:not(.masthead) {
    padding-top: 6em;
    padding-bottom: 6em;
}



