<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="00" type="text" name="code">
        </div>
        <div class="field">
            <label>Temperature</label>
            <input placeholder="00.0C" type="text" name="temperature">
        </div>
        <div class="field">
            <label>Wind Speed</label>
            <input placeholder="00.00kMh" type="number" name="windSpeed">
        </div>
        <div class="field">
            <label>Wind Directions</label>
            <input placeholder="000deg" type="number" name="pressure">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="000hpa" type="number" name="pressure">
        </div>
    </div>
    <button class="ui blue submit button">Add Reading</button>
</form>