<section>
    <div class = "ui five statistics">
        <div class="statistic">
            <div class="text value">
                ${_station.name}
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Weather
            </div>
            <div class="label">
                ${_station.newestReading()?.getConditions()}
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Temperature
            </div>
            <div class="label">
                ${_station.newestReading()?.temperature} C
            </div>
            <div class="label">
                ${_station.newestReading()?.getTempFaren()} F
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Wind
            </div>
            <div class="label">
                ${_station.newestReading()?.getBeaufort()} bft
            </div>
            <div class="label">
                ${_station.newestReading()?.getWindDirection()}
            </div>
            <div class="label">
               Feels Like ${_station.newestReading()?.getWindChill()}
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Pressure
            </div>
            <div class="label">
                ${_station.newestReading()?.pressure} hpa
            </div>
        </div>
    </div>
</section>