<table class="ui fixed striped table">
    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Code</th>
        <th>Temperature</th>
        <th>WindSpeed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.date}
        </td>
        <td>
            ${reading.code}
        </td>
        <td>
            ${reading.temperature}
        </td>
        <td>
            ${reading.windSpeed}
        </td>
        <td>
            ${reading.windDirection}
        </td>
        <td>
            ${reading.pressure}
        </td>
        <td class="centre aligned">
            <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui centre aligned icon button">
                <i class="big icon trash"></i>
            </a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>