#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<!--cycles through arraylist of stations-->
#{list items:stations, as:'station'}
<section class="ui segment">
    <h2 class="ui header">
        #{latestreadings station:station /}
        <a href="/stations/${station.id}" class="ui icon button">
            <i class="big icon folder open"></i>
        </a>
        <a href="/dashboard/deletestation/${station.id}" class="ui icon button">
            <i class="big icon trash"></i>
        </a>
    </h2>
</section>
#{/list}
#{addstation /}